<!DOCTYPE html>
<html>
<head>
<title>Users</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<a href="/users">Home</a>

</head>

<body>
    <h1>Edit User {{show_user[0].id}}</h1>
    
    <form action="/users/edit" method="POST">
        <p>First Name: <input value="{{show_user[0].first_name}}" type="text" name="first_name"></p>
        <p>Last Name: <input value="{{show_user[0].last_name}}" name="last_name"></p>
        <p>Email: <input value="{{show_user[0].email}}" name ="email"></p>
    
    <button><input type = "submit" value = "Update"></button>
    <a href="/users/{{show_user[0].id}}">Show User</a>
    <input type="hidden" value = "{{show_user[0].id}}" name = id>
    </form>
    
</body>

</html>